In [1]:
# Import standard libraries
import os
from contextlib import redirect_stdout

import sys
# append coeqwal packages to path
sys.path.append('./coeqwalpackage')

import numpy as np
import pandas as pd
import datetime as dt

In [2]:
# Import custom libraries
# Note: on my computer the next import doesn't work the first time I call it, why? If I re-run the cell, then it is ok. MUST DEBUG
from coeqwalpackage.metrics import *
import cqwlutils as cu
import plotting as pu

F:\Dino\COEQWAL_GIT\coeqwal\notebooks\coeqwalpackage\cqwlutils.py:17: SyntaxWarning: invalid escape sequence '\d'
  topsplit = re.split('(\d+)', topleft)
F:\Dino\COEQWAL_GIT\coeqwal\notebooks\coeqwalpackage\cqwlutils.py:18: SyntaxWarning: invalid escape sequence '\d'
  botsplit = re.split('(\d+)', bottomright)

## Define contol file name

In [4]:
CtrlFile = 'CalSim3DataExtractionInitFile_v3.xlsx'
CtrlTab = 'Init'

## Read from control file

In [6]:
ScenarioListFile, ScenarioListTab, ScenarioListPath, DVDssNamesOutPath, SVDssNamesOutPath, ScenarioIndicesOutPath, DssDirsOutPath, VarListPath, VarListFile, VarListTab, VarOutPath, DataOutPath, ConvertDataOutPath, ExtractionSubPath, DemandDeliverySubPath, ModelSubPath, GroupDataDirPath, ScenarioDir, DVDssMin, DVDssMax, SVDssMin, SVDssMax, NameMin, NameMax, DirMin, DirMax, IndexMin, IndexMax, StartMin, StartMax, EndMin, EndMax, VarMin, VarMax, DemandFilePath, DemandFileName, DemandFileTab, DemMin, DemMax = cu.read_init_file(CtrlFile, CtrlTab)

### Read in Data

In [8]:
df, dss_names = read_in_df(ConvertDataOutPath,DVDssNamesOutPath)

In [9]:
df = add_water_year_column(df)

F:\Dino\COEQWAL_GIT\coeqwal\notebooks\coeqwalpackage\metrics.py:175: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  return df_copy.drop(["Date", "Year", "Month"], axis=1)

### Get metrics paths and make directories if needed

In [11]:
metrics_path = GroupDataDirPath + "/metrics_output"
if not os.path.exists(metrics_path):
    os.makedirs(metrics_path)

## Metrics Examples

In [13]:
# To get a single metric and variable dataframe, type metrics[Month_{var}_{metric}] ie metrics['Apr_S_RESTOT_NOD_mnth_avg'], thresholds["S_SHSTA_frequency_hitting_level5"]
# Month = Apr, Sept... or None
# Metric = [ann_avg, mnth_avg, compute_iqr, ann_percentile, moy_avgs, mnth_percentile, annual_totals]

In [14]:
# Thresholds

variables = ["S_SHSTA_", "S_OROVL_", "S_TRNTY_", "S_SLUIS_CVP_", "S_SLUIS_SWP_"]
variables_level1 = ["S_SHSTALEVEL1DV", "S_OROVLLEVEL1DV", "S_TRNTYLEVEL1DV", "S_SLUIS_CVPLEVEL1DV", "S_SLUIS_SWPLEVEL1DV"]
variables_level5 = ["S_SHSTALEVEL5DV", "S_OROVLLEVEL5DV", "S_TRNTYLEVEL5DV", "S_SLUIS_CVPLEVEL5DV", "S_SLUIS_SWPLEVEL5DV"]
write_out_dfs = []

In [15]:
thresholds = {}

for var, var_lvl1, var_lvl5 in zip(variables, variables_level1, variables_level5):
    # LEVEL5DV calculation (LEVEL5DV - var < 0)
    exceedance_days, exceedance_days_fraction = frequency_hitting_level(df, dss_names, var, var_lvl5, "TAF", f"All_Prob_{var}flood")
    thresholds[f"{var}frequency_hitting_level5"] = (exceedance_days, exceedance_days_fraction)

    # LEVEL1DV calculation (var - LEVEL1DV < 0)
    exceedance_days, exceedance_days_fraction = frequency_hitting_level(df, dss_names, var_lvl1, var, "TAF", f"All_Prob_{var}dead")
    thresholds[f"{var}frequency_hitting_level1"] = (exceedance_days, exceedance_days_fraction)

    # September LEVEL1DV calculation
    exceedance_days, exceedance_days_fraction = frequency_hitting_level(df, dss_names, var_lvl1, var, "TAF", f"Sept_Prob_{var}dead", months=[9])
    thresholds[f"Sept_{var}frequency_hitting_level1"] = (exceedance_days, exceedance_days_fraction)

for threshold, (threshold_df, threshold_fraction) in thresholds.items():
    print(f"Threshold: {threshold}")
    #display(threshold_df)
    write_out_dfs.append(threshold_fraction)
    display(threshold_fraction)

Threshold: S_SHSTA_frequency_hitting_level5

       All_Prob_S_SHSTA_flood
s0001                0.333333
s0002                0.315000
s0003                0.222500
s0004                0.192500
s0005                0.175833
s0006                0.303333
s0007                0.301667
s0008                0.300833
s0009                0.300833
s0010                0.301667
s0011                0.315833
s0012                0.330000
s0013                0.196667
s0014                0.205833
s0015                0.329167
s0016                0.208333
s0018                0.058333

Threshold: S_SHSTA_frequency_hitting_level1

       All_Prob_S_SHSTA_dead
s0001               0.004167
s0002               0.017500
s0003               0.038333
s0004               0.052500
s0005               0.053333
s0006               0.003333
s0007               0.000000
s0008               0.000000
s0009               0.000000
s0010               0.000000
s0011               0.012500
s0012               0.018333
s0013               0.050833
s0014               0.045000
s0015               0.011667
s0016               0.030000
s0018               0.239167

Threshold: Sept_S_SHSTA_frequency_hitting_level1

       Sept_Prob_S_SHSTA_dead
s0001                    0.01
s0002                    0.05
s0003                    0.10
s0004                    0.11
s0005                    0.11
s0006                    0.01
s0007                    0.00
s0008                    0.00
s0009                    0.00
s0010                    0.00
s0011                    0.04
s0012                    0.05
s0013                    0.11
s0014                    0.10
s0015                    0.03
s0016                    0.07
s0018                    0.45

Threshold: S_OROVL_frequency_hitting_level5

       All_Prob_S_OROVL_flood
s0001                0.215000
s0002                0.210000
s0003                0.165833
s0004                0.144167
s0005                0.133333
s0006                0.203333
s0007                0.201667
s0008                0.200000
s0009                0.201667
s0010                0.201667
s0011                0.210833
s0012                0.214167
s0013                0.146667
s0014                0.153333
s0015                0.215833
s0016                0.154167
s0018                0.109167

Threshold: S_OROVL_frequency_hitting_level1

       All_Prob_S_OROVL_dead
s0001               0.000000
s0002               0.000833
s0003               0.010000
s0004               0.016667
s0005               0.024167
s0006               0.000000
s0007               0.000000
s0008               0.000000
s0009               0.000000
s0010               0.000000
s0011               0.000833
s0012               0.000833
s0013               0.017500
s0014               0.015833
s0015               0.000000
s0016               0.006667
s0018               0.066667

Threshold: Sept_S_OROVL_frequency_hitting_level1

       Sept_Prob_S_OROVL_dead
s0001                    0.00
s0002                    0.00
s0003                    0.02
s0004                    0.04
s0005                    0.06
s0006                    0.00
s0007                    0.00
s0008                    0.00
s0009                    0.00
s0010                    0.00
s0011                    0.00
s0012                    0.00
s0013                    0.03
s0014                    0.03
s0015                    0.00
s0016                    0.02
s0018                    0.11

Threshold: S_TRNTY_frequency_hitting_level5

       All_Prob_S_TRNTY_flood
s0001                0.000000
s0002                0.000833
s0003                0.000000
s0004                0.000000
s0005                0.000000
s0006                0.000000
s0007                0.000000
s0008                0.000000
s0009                0.000000
s0010                0.000000
s0011                0.000833
s0012                0.000833
s0013                0.000000
s0014                0.000000
s0015                0.000833
s0016                0.000000
s0018                0.000833

Threshold: S_TRNTY_frequency_hitting_level1

       All_Prob_S_TRNTY_dead
s0001               0.000000
s0002               0.000000
s0003               0.000000
s0004               0.000000
s0005               0.000000
s0006               0.004167
s0007               0.000000
s0008               0.000833
s0009               0.000833
s0010               0.000833
s0011               0.000000
s0012               0.000000
s0013               0.000000
s0014               0.000000
s0015               0.000000
s0016               0.000000
s0018               0.012500

Threshold: Sept_S_TRNTY_frequency_hitting_level1

       Sept_Prob_S_TRNTY_dead
s0001                    0.00
s0002                    0.00
s0003                    0.00
s0004                    0.00
s0005                    0.00
s0006                    0.02
s0007                    0.00
s0008                    0.01
s0009                    0.01
s0010                    0.01
s0011                    0.00
s0012                    0.00
s0013                    0.00
s0014                    0.00
s0015                    0.00
s0016                    0.00
s0018                    0.03

Threshold: S_SLUIS_CVP_frequency_hitting_level5

       All_Prob_S_SLUIS_CVP_flood
s0001                    0.078333
s0002                    0.076667
s0003                    0.055000
s0004                    0.046667
s0005                    0.041667
s0006                    0.085000
s0007                    0.087500
s0008                    0.088333
s0009                    0.090833
s0010                    0.091667
s0011                    0.085833
s0012                    0.100000
s0013                    0.050000
s0014                    0.065833
s0015                    0.110000
s0016                    0.064167
s0018                    0.028333

Threshold: S_SLUIS_CVP_frequency_hitting_level1

       All_Prob_S_SLUIS_CVP_dead
s0001                   0.015833
s0002                   0.027500
s0003                   0.057500
s0004                   0.085000
s0005                   0.102500
s0006                   0.017500
s0007                   0.015000
s0008                   0.017500
s0009                   0.017500
s0010                   0.017500
s0011                   0.025000
s0012                   0.012500
s0013                   0.078333
s0014                   0.044167
s0015                   0.006667
s0016                   0.040833
s0018                   0.195000

Threshold: Sept_S_SLUIS_CVP_frequency_hitting_level1

       Sept_Prob_S_SLUIS_CVP_dead
s0001                        0.05
s0002                        0.08
s0003                        0.13
s0004                        0.21
s0005                        0.22
s0006                        0.00
s0007                        0.00
s0008                        0.00
s0009                        0.00
s0010                        0.00
s0011                        0.07
s0012                        0.03
s0013                        0.20
s0014                        0.13
s0015                        0.00
s0016                        0.09
s0018                        0.44

Threshold: S_SLUIS_SWP_frequency_hitting_level5

       All_Prob_S_SLUIS_SWP_flood
s0001                    0.065833
s0002                    0.073333
s0003                    0.060000
s0004                    0.051667
s0005                    0.042500
s0006                    0.057500
s0007                    0.160000
s0008                    0.180000
s0009                    0.189167
s0010                    0.190000
s0011                    0.076667
s0012                    0.088333
s0013                    0.055000
s0014                    0.060833
s0015                    0.088333
s0016                    0.063333
s0018                    0.058333

Threshold: S_SLUIS_SWP_frequency_hitting_level1

       All_Prob_S_SLUIS_SWP_dead
s0001                   0.029167
s0002                   0.026667
s0003                   0.027500
s0004                   0.055833
s0005                   0.043333
s0006                   0.040000
s0007                   0.030833
s0008                   0.033333
s0009                   0.033333
s0010                   0.033333
s0011                   0.025000
s0012                   0.025000
s0013                   0.033333
s0014                   0.025833
s0015                   0.021667
s0016                   0.025833
s0018                   0.035000

Threshold: Sept_S_SLUIS_SWP_frequency_hitting_level1

       Sept_Prob_S_SLUIS_SWP_dead
s0001                        0.05
s0002                        0.05
s0003                        0.06
s0004                        0.13
s0005                        0.07
s0006                        0.06
s0007                        0.06
s0008                        0.05
s0009                        0.07
s0010                        0.07
s0011                        0.05
s0012                        0.04
s0013                        0.06
s0014                        0.04
s0015                        0.03
s0016                        0.04
s0018                        0.08

# Flow Requirements - cannot do yet because missing min_flow variables

flows = ["C_AMR004_s", "C_TRN111_s", "C_FTR029_s", "C_MOK028_s", "C_MCD005_s", "C_SAC257_s", "C_SJR127_s", "C_SAC289_s", "C_STS011_s",
         "C_TUO003_s", "C_YUB002_s", "SP_SAC159_BTC003_s", "C_SAC148_s", "C_SAC122_s", "C_FTR003_s", "C_SAC049_s", "C_SAC000_s", "C_SJR070_s"
]
min_flows = ["C_AMR004_MIF", "C_TRN111_MIF", "C_FTR029_MIF", "C_MOK028_MIF", "C_MCD005_MIF", "C_SAC257_MIF", "C_SJR127_MIF", "C_SAC289_MIF", "C_STS011_MIF",
             "C_TUO003_MIF", "C_YUB002_MIF", "SP_SAC159_BTC003_MIF", "C_SAC148_MIF", "C_SAC122_MIF", "C_FTR003_MIF", "C_SAC049_MIF", "C_SAC000_MIF", "C_SJR070_MIF"
]

flows = {}

for flow, min_flow in zip(flows, min_flows):
    exceedance_days, exceedance_days_percent = frequency_hitting_level(df, flow, min_flow, "CFS", f"All_Prob_{var}min_flow")
    flows[f"{var}min_flow_exceed"] = (exceedance_days, exceedance_days_percent)

for flow, (flow_df, flow_percent) in flows.items():
    print(f"Flow: {flow}")
    display(flow_df)
    display(flow_percent)

In [16]:
# Other Metrics - not following excel file correctly

variables = [
    "S_RESTOT_NOD_",
    "S_SHSTA_", "S_OROVL_", "S_TRNTY_", "S_MELON_", "S_MLRTN_",
    "DEL_SWP_TOTAL_", "DEL_SWP_PMI_", "DEL_SWP_PAG_", "DEL_CVP_TOTAL_", "DEL_CVP_PAG_TOTAL_", "DEL_CVP_PSCEX_TOTAL_", "DEL_CVP_PRF_TOTAL_",
    "D_TOTAL_", "NDO_",
    "X2_PRV_KM_",
    "DEL_CVP_PSC_N_", "DEL_CVP_PAG_N_", "DEL_CVP_PAG_S_", "DEL_CVP_PRF_S_", "DEL_CVP_PMI_N_", "DEL_CVP_PMI_S_"
]

In [17]:
metrics = {}

for var in variables:
    if var in ["C_SAC041_", "C_SJR070_", "C_SAC000_", "C_SJR070_", "C_DMC000_TD_", "C_CAA003_TD_", "NDO_"]:
        units = "CFS"
    elif var == "X2_PRV_KM_":
        units = "KM"
    else:
        units = "TAF"

    if var in ["S_RESTOT_NOD_"]: ## What's the difference between this and NOD_STORAGE?
        metrics[f"Apr_{var}mnth_avg"] = mnth_avg(df, dss_names, var, 4, units) 
        metrics[f"Sept_{var}mnth_avg"] = mnth_avg(df, dss_names, var, 9, units) 

    if var in ["S_SHSTA_", "S_OROVL_"]:
        metrics[f"Apr_{var}mnth_avg"] = mnth_avg(df, dss_names, var, 4, units) 

    ## I'M VERY CONFUSED ABOUT WHAT TO DO FOR THIS ONE. S_SHSTA, S_OROVL, S_TRNTY, S_MELON, S_MLRTN; dead pool set in *LEVEL1DV variables probabilities.
    ## What do I put as the percentile? I put 1. Not returning probability.
    if var in ["S_SHSTA_", "S_OROVL_", "S_TRNTY_", "S_MELON_", "S_MLRTN_"]:
        metrics[f"Sept_{var}mnth_percentile"] = mnth_percentile(df, dss_names, 0.9, var, 9, units)

    ## What do I put as the percentile? I put 1. Not returning probability.
    if var in ["S_SHSTA_"]:
        metrics[f"Apr_{var}mnth_percentile"] = mnth_percentile(df, dss_names, 0.9, var, 4, units)

    ## LONG-TERM CUMULATIVE FRACTION? What is this? S_SHSTA_ & S_SHSTALEVEL5DV

    if var in ["DEL_SWP_TOTAL_", "DEL_SWP_PMI_", "DEL_SWP_PAG_", "DEL_CVP_TOTAL_", "DEL_CVP_PAG_TOTAL_", "DEL_CVP_PSCEX_TOTAL_", "DEL_CVP_PRF_TOTAL_"]:
        metrics[f"{var}ann_avg"] = ann_avg(df, dss_names, var, units)
     
    ## ADD DEL_CVP_PAG_TOTAL +  DEL_CVP_PSCEX_TOTAL

    ## I DON'T SEE VARIABLE D_TOTAL
    ## LONG-TERM AVERAGE? What's the difference between that and average?
    if var in ["NDO_"]: # missing D_TOTAL
        metrics[f"{var}ann_avg"] = ann_avg(df, dss_names, var, units)

    if var in ["X2_PRV_KM_"]:
        metrics[f"Apr_{var}mnth_avg"] = mnth_avg(df, dss_names, var, 4, units) 
        metrics[f"Oct_{var}mnth_avg"] = mnth_avg(df, dss_names, var, 10, units) 
    ## NEED TO ADD WAY TO DO MULTI-MONTH 
        ## Sept-Nov
        ## March-May

    if var in ["DEL_SWP_PMI_", "DEL_CVP_PSC_N_", "DEL_CVP_PAG_N_", "DEL_CVP_PAG_S_", "DEL_CVP_PRF_S_", "DEL_CVP_PMI_N_", "DEL_CVP_PMI_S_"]:
        metrics[f"{var}ann_percentile"] = ann_percentile(df, dss_names, 0.9, var, units)
        
for var, metric_df in metrics.items():
    write_out_dfs.append(metric_df)
    display(metric_df)

       Apr_Avg_S_RESTOT_NOD_TAF
s0001               9502.720622
s0002               9289.524626
s0003               8831.470114
s0004               8536.757009
s0005               8363.576594
s0006               8797.665441
s0007               8818.561157
s0008               8817.579762
s0009               8806.576365
s0010               8809.165562
s0011               9353.654643
s0012               9331.701300
s0013               8564.764796
s0014               8652.462178
s0015               9385.572308
s0016               8764.127927
s0018               6283.530278

       Sep_Avg_S_RESTOT_NOD_TAF
s0001               6800.449020
s0002               6570.594230
s0003               5655.789429
s0004               5292.440964
s0005               5134.175172
s0006               6152.457555
s0007               6193.778243
s0008               6194.621633
s0009               6187.818817
s0010               6188.742741
s0011               6637.061312
s0012               6673.551830
s0013               5363.289898
s0014               5499.450178
s0015               6726.838606
s0016               5583.838193
s0018               3695.835463

       Apr_Avg_S_SHSTA_TAF
s0001          4037.991051
s0002          3920.254867
s0003          3711.537404
s0004          3592.096895
s0005          3511.278046
s0006          4035.944251
s0007          4044.659226
s0008          4044.682619
s0009          4038.165765
s0010          4038.121174
s0011          3947.517963
s0012          3936.999494
s0013          3604.374799
s0014          3647.361582
s0015          3959.618993
s0016          3703.121111
s0018          2585.118500

       Sep_Percentile_S_SHSTA_TAF
s0001                  3400.00000
s0002                  3400.00000
s0003                  3400.00000
s0004                  3400.00000
s0005                  3400.00000
s0006                  3400.00000
s0007                  3400.00000
s0008                  3400.00000
s0009                  3400.00000
s0010                  3400.00000
s0011                  3400.00000
s0012                  3400.00000
s0013                  3400.00000
s0014                  3400.00000
s0015                  3400.00000
s0016                  3400.00000
s0018                  2774.70325

       Apr_Percentile_S_SHSTA_TAF
s0001                  4552.10000
s0002                  4552.10000
s0003                  4495.94533
s0004                  4460.78157
s0005                  4437.52399
s0006                  4552.10000
s0007                  4552.10000
s0008                  4552.10000
s0009                  4552.10000
s0010                  4552.10000
s0011                  4552.10000
s0012                  4552.10000
s0013                  4460.78157
s0014                  4460.78157
s0015                  4552.10000
s0016                  4460.78157
s0018                  4162.27174

       Apr_Avg_S_OROVL_TAF
s0001          2769.478097
s0002          2725.012594
s0003          2550.107122
s0004          2453.495348
s0005          2406.063563
s0006          2900.849137
s0007          2909.776964
s0008          2907.110805
s0009          2905.539647
s0010          2907.723227
s0011          2750.521664
s0012          2740.577751
s0013          2453.422592
s0014          2477.824818
s0015          2762.328846
s0016          2514.576337
s0018          2026.087754

       Sep_Percentile_S_OROVL_TAF
s0001                  2938.65278
s0002                  2982.98732
s0003                  2408.60410
s0004                  2132.36284
s0005                  2181.24718
s0006                  3060.30816
s0007                  3040.61345
s0008                  3040.97859
s0009                  3041.11539
s0010                  3041.10308
s0011                  2989.30109
s0012                  3026.54570
s0013                  2209.28688
s0014                  2311.99516
s0015                  3028.50365
s0016                  2313.09493
s0018                  2506.39924

       Sep_Percentile_S_TRNTY_TAF
s0001                  1975.00000
s0002                  1975.00000
s0003                  1899.91900
s0004                  1816.08214
s0005                  1787.93363
s0006                  1975.00000
s0007                  1975.00000
s0008                  1975.00000
s0009                  1975.00000
s0010                  1975.00000
s0011                  1975.00000
s0012                  1975.00000
s0013                  1821.98485
s0014                  1854.62554
s0015                  1975.00000
s0016                  1857.35990
s0018                  1457.25719

       Sep_Percentile_S_MELON_TAF
s0001                  2000.00000
s0002                  2000.00000
s0003                  2000.00000
s0004                  2000.00000
s0005                  1986.76919
s0006                  2000.00000
s0007                  2000.00000
s0008                  2000.00000
s0009                  2000.00000
s0010                  2000.00000
s0011                  2000.00000
s0012                  2000.00000
s0013                  1991.61974
s0014                  1991.93303
s0015                  2000.00000
s0016                  1991.93294
s0018                  1173.77195

       Sep_Percentile_S_MLRTN_TAF
s0001                  316.697731
s0002                  340.554037
s0003                  233.245761
s0004                  221.706301
s0005                  212.781469
s0006                  371.016874
s0007                  371.101543
s0008                  371.132321
s0009                  371.154264
s0010                  371.150166
s0011                  340.554037
s0012                  340.554037
s0013                  221.706301
s0014                  221.706301
s0015                  340.554037
s0016                  221.706301
s0018                  340.554037

       Ann_Avg_DEL_SWP_TOTAL_TAF
s0001                 258.267249
s0002                 252.655671
s0003                 231.918522
s0004                 224.601246
s0005                 216.287690
s0006                 217.993152
s0007                 235.674948
s0008                 238.383912
s0009                 239.901495
s0010                 239.951004
s0011                 254.309189
s0012                 257.471659
s0013                 224.627143
s0014                 229.574826
s0015                 258.798218
s0016                 230.953773
s0018                 209.877650

       Ann_Avg_DEL_SWP_PMI_TAF
s0001               127.507992
s0002                 2.048826
s0003               125.459166
s0004               124.008673
s0005                 2.016835
s0006               121.991838
s0007               110.122353
s0008                 1.867450
s0009               108.254903
s0010               105.032353
s0011                 1.813174
s0012               103.219180
s0013               100.049631
s0014                 1.806640
s0015                98.242991
s0016               130.638451
s0018                 1.942714

       Percentile_DEL_SWP_PMI_TAF
s0001                  181.032189
s0002                    2.400873
s0003                  178.755870
s0004                  180.992964
s0005                    2.400140
s0006                  178.869737
s0007                  179.255209
s0008                    2.334739
s0009                  177.019942
s0010                  175.845786
s0011                    2.314224
s0012                  173.666320
s0013                  171.670888
s0014                    2.326063
s0015                  169.626426
s0016                  180.925167
s0018                    2.424836

       Ann_Avg_DEL_SWP_PAG_TAF
s0001               130.759258
s0002                88.655907
s0003                42.103351
s0004               128.646998
s0005                87.634818
s0006                41.012180
s0007               121.796169
s0008                85.464767
s0009                36.331402
s0010               119.568893
s0011                84.462491
s0012                35.106402
s0013               116.238060
s0014                83.084286
s0015                33.153775
s0016               108.218896
s0018                63.480060

       Ann_Avg_DEL_CVP_TOTAL_TAF
s0001                 170.892077
s0002                 215.146212
s0003                 386.038289
s0004                 169.307931
s0005                 210.849799
s0006                 380.157730
s0007                 168.238140
s0008                 197.129461
s0009                 365.367600
s0010                 166.425381
s0011                 190.393149
s0012                 356.818529
s0013                 165.095153
s0014                 183.984733
s0015                 349.079886
s0016                 160.264454
s0018                 214.833964

       Ann_Avg_DEL_CVP_PAG_TOTAL_TAF
s0001                     125.317902
s0002                     120.392244
s0003                     105.272609
s0004                      98.516506
s0005                      92.050971
s0006                     107.931507
s0007                     109.957584
s0008                     111.240423
s0009                     111.641318
s0010                     111.572635
s0011                     120.168243
s0012                     125.150056
s0013                      98.957410
s0014                     103.721861
s0015                     124.476247
s0016                     103.676975
s0018                      78.300877

       Ann_Avg_DEL_CVP_PSCEX_TOTAL_TAF
s0001                       201.592498
s0002                       201.143306
s0003                       202.509519
s0004                       201.663924
s0005                       200.963734
s0006                       175.085949
s0007                       175.080230
s0008                       175.076024
s0009                       175.093268
s0010                       175.087597
s0011                       201.006263
s0012                       201.127390
s0013                       201.671629
s0014                       201.977230
s0015                       201.000760
s0016                       202.349352
s0018                       187.942771

       Ann_Avg_DEL_CVP_PRF_TOTAL_TAF
s0001                      31.060757
s0002                      30.745665
s0003                      30.302301
s0004                      29.720522
s0005                      29.440866
s0006                      23.044935
s0007                      23.073480
s0008                      23.067966
s0009                      23.068354
s0010                      23.068284
s0011                      30.779767
s0012                      30.773374
s0013                      29.711355
s0014                      29.943914
s0015                      30.825605
s0016                      30.222510
s0018                      26.998101

       Ann_Avg_NDO_CFS
s0001     21293.470789
s0002     21893.727002
s0003     22047.182931
s0004     21389.026896
s0005     20485.437723
s0006     21149.723018
s0007     20541.031775
s0008     20408.485673
s0009     20338.511268
s0010     20332.168442
s0011     21870.717422
s0012     22075.819952
s0013     21487.615640
s0014     21651.673274
s0015     22056.041505
s0016     21593.528343
s0018     24082.303039

       Apr_Avg_X2_PRV_KM_KM
s0001             64.698729
s0002             64.260228
s0003             63.974278
s0004             64.509556
s0005             65.036219
s0006             64.831960
s0007             65.430541
s0008             65.572145
s0009             65.654014
s0010             65.653841
s0011             64.327655
s0012             64.163724
s0013             64.466159
s0014             64.374018
s0015             64.226327
s0016             64.625091
s0018             62.903720

       Oct_Avg_X2_PRV_KM_KM
s0001             83.347450
s0002             83.458366
s0003             84.064856
s0004             84.003035
s0005             84.739167
s0006             83.037519
s0007             83.360593
s0008             83.385424
s0009             83.412193
s0010             83.418131
s0011             83.396557
s0012             83.432828
s0013             83.932718
s0014             83.875713
s0015             83.338792
s0016             83.716304
s0018             79.893261

       Percentile_DEL_CVP_PSC_N_TAF
s0001                    139.458760
s0002                    139.547772
s0003                    142.136584
s0004                    142.706400
s0005                    143.074190
s0006                    131.724690
s0007                    131.710230
s0008                    131.710228
s0009                    131.710262
s0010                    131.710098
s0011                    139.547772
s0012                    139.547772
s0013                    142.706400
s0014                    142.645366
s0015                    139.547772
s0016                    142.645366
s0018                    137.747384

       Percentile_DEL_CVP_PAG_N_TAF
s0001                     34.847494
s0002                     34.393217
s0003                     33.918754
s0004                     33.893795
s0005                     33.723046
s0006                     34.344864
s0007                     34.336341
s0008                     34.340126
s0009                     34.336667
s0010                     34.336660
s0011                     34.393218
s0012                     34.393240
s0013                     33.850608
s0014                     33.895109
s0015                     34.393240
s0016                     33.895120
s0018                     32.894538

       Percentile_DEL_CVP_PAG_S_TAF
s0001                    143.389351
s0002                    143.245424
s0003                    138.804389
s0004                    136.779033
s0005                    135.285446
s0006                    139.563284
s0007                    142.365815
s0008                    144.623838
s0009                    144.630669
s0010                    144.629032
s0011                    143.245424
s0012                    143.374637
s0013                    136.780096
s0014                    138.889905
s0015                    143.374632
s0016                    138.890613
s0018                    130.364691

       Percentile_DEL_CVP_PRF_S_TAF
s0001                     23.905811
s0002                     23.882565
s0003                     23.922530
s0004                     23.902585
s0005                     23.890469
s0006                     24.375671
s0007                     24.375671
s0008                     24.375671
s0009                     24.375671
s0010                     24.375671
s0011                     23.882565
s0012                     23.951192
s0013                     23.902585
s0014                     23.902585
s0015                     23.951192
s0016                     23.902585
s0018                     23.463367

       Percentile_DEL_CVP_PMI_N_TAF
s0001                      1.298429
s0002                     13.084345
s0003                      1.298429
s0004                     13.623956
s0005                      1.381785
s0006                     14.968287
s0007                      1.381785
s0008                     14.826032
s0009                      1.381785
s0010                     15.403063
s0011                      1.715291
s0012                     14.226650
s0013                      1.715291
s0014                     14.264105
s0015                      1.715291
s0016                     14.215531
s0018                      1.715291

       Percentile_DEL_CVP_PMI_S_TAF
s0001                     13.722242
s0002                     13.714244
s0003                     13.691231
s0004                     13.596215
s0005                     13.498519
s0006                     13.759796
s0007                     13.768386
s0008                     13.779971
s0009                     13.779993
s0010                     13.779988
s0011                     13.714246
s0012                     13.731061
s0013                     13.596432
s0014                     13.605565
s0015                     13.731040
s0016                     13.605567
s0018                     13.245470

## Write out dataframes to single CSV

In [19]:
combined_df = pd.concat(write_out_dfs, axis=1)
display(combined_df)
combined_df.to_csv(metrics_path + "/all_metrics_output.csv")

,All_Prob_S_SHSTA_flood,All_Prob_S_SHSTA_dead,Sept_Prob_S_SHSTA_dead,All_Prob_S_OROVL_flood,All_Prob_S_OROVL_dead,Sept_Prob_S_OROVL_dead,All_Prob_S_TRNTY_flood,All_Prob_S_TRNTY_dead,Sept_Prob_S_TRNTY_dead,All_Prob_S_SLUIS_CVP_flood,...,Ann_Avg_DEL_CVP_PRF_TOTAL_TAF,Ann_Avg_NDO_CFS,Apr_Avg_X2_PRV_KM_KM,Oct_Avg_X2_PRV_KM_KM,Percentile_DEL_CVP_PSC_N_TAF,Percentile_DEL_CVP_PAG_N_TAF,Percentile_DEL_CVP_PAG_S_TAF,Percentile_DEL_CVP_PRF_S_TAF,Percentile_DEL_CVP_PMI_N_TAF,Percentile_DEL_CVP_PMI_S_TAF
s0001,0.333333,0.004167,0.01,0.215000,0.000000,0.00,0.000000,0.000000,0.00,0.078333,...,31.060757,21293.470789,64.698729,83.347450,139.458760,34.847494,143.389351,23.905811,1.298429,13.722242
s0002,0.315000,0.017500,0.05,0.210000,0.000833,0.00,0.000833,0.000000,0.00,0.076667,...,30.745665,21893.727002,64.260228,83.458366,139.547772,34.393217,143.245424,23.882565,13.084345,13.714244
s0003,0.222500,0.038333,0.10,0.165833,0.010000,0.02,0.000000,0.000000,0.00,0.055000,...,30.302301,22047.182931,63.974278,84.064856,142.136584,33.918754,138.804389,23.922530,1.298429,13.691231
s0004,0.192500,0.052500,0.11,0.144167,0.016667,0.04,0.000000,0.000000,0.00,0.046667,...,29.720522,21389.026896,64.509556,84.003035,142.706400,33.893795,136.779033,23.902585,13.623956,13.596215
s0005,0.175833,0.053333,0.11,0.133333,0.024167,0.06,0.000000,0.000000,0.00,0.041667,...,29.440866,20485.437723,65.036219,84.739167,143.074190,33.723046,135.285446,23.890469,1.381785,13.498519
s0006,0.303333,0.003333,0.01,0.203333,0.000000,0.00,0.000000,0.004167,0.02,0.085000,...,23.044935,21149.723018,64.831960,83.037519,131.724690,34.344864,139.563284,24.375671,14.968287,13.759796
s0007,0.301667,0.000000,0.00,0.201667,0.000000,0.00,0.000000,0.000000,0.00,0.087500,...,23.073480,20541.031775,65.430541,83.360593,131.710230,34.336341,142.365815,24.375671,1.381785,13.768386
s0008,0.300833,0.000000,0.00,0.200000,0.000000,0.00,0.000000,0.000833,0.01,0.088333,...,23.067966,20408.485673,65.572145,83.385424,131.710228,34.340126,144.623838,24.375671,14.826032,13.779971
s0009,0.300833,0.000000,0.00,0.201667,0.000000,0.00,0.000000,0.000833,0.01,0.090833,...,23.068354,20338.511268,65.654014,83.412193,131.710262,34.336667,144.630669,24.375671,1.381785,13.779993
s0010,0.301667,0.000000,0.00,0.201667,0.000000,0.00,0.000000,0.000833,0.01,0.091667,...,23.068284,20332.168442,65.653841,83.418131,131.710098,34.336660,144.629032,24.375671,15.403063,13.779988
s0011,0.315833,0.012500,0.04,0.210833,0.000833,0.00,0.000833,0.000000,0.00,0.085833,...,30.779767,21870.717422,64.327655,83.396557,139.547772,34.393218,143.245424,23.882565,1.715291,13.714246
s0012,0.330000,0.018333,0.05,0.214167,0.000833,0.00,0.000833,0.000000,0.00,0.100000,...,30.773374,22075.819952,64.163724,83.432828,139.547772,34.393240,143.374637,23.951192,14.226650,13.731061
s0013,0.196667,0.050833,0.11,0.146667,0.017500,0.03,0.000000,0.000000,0.00,0.050000,...,29.711355,21487.615640,64.466159,83.932718,142.706400,33.850608,136.780096,23.902585,1.715291,13.596432
s0014,0.205833,0.045000,0.10,0.153333,0.015833,0.03,0.000000,0.000000,0.00,0.065833,...,29.943914,21651.673274,64.374018,83.875713,142.645366,33.895109,138.889905,23.902585,14.264105,13.605565
s0015,0.329167,0.011667,0.03,0.215833,0.000000,0.00,0.000833,0.000000,0.00,0.110000,...,30.825605,22056.041505,64.226327,83.338792,139.547772,34.393240,143.374632,23.951192,1.715291,13.731040
s0016,0.208333,0.030000,0.07,0.154167,0.006667,0.02,0.000000,0.000000,0.00,0.064167,...,30.222510,21593.528343,64.625091,83.716304,142.645366,33.895120,138.890613,23.902585,14.215531,13.605567
s0018,0.058333,0.239167,0.45,0.109167,0.066667,0.11,0.000833,0.012500,0.03,0.028333,...,26.998101,24082.303039,62.903720,79.893261,137.747384,32.894538,130.364691,23.463367,1.715291,13.245470