In [1]:
# Import standard libraries
import os
from contextlib import redirect_stdout

import sys
# append coeqwal packages to path
sys.path.append('./coeqwalpackage')

import numpy as np
import pandas as pd
import datetime as dt

In [2]:
# Import custom libraries
# Note: on my computer the next import doesn't work the first time I call it, why? If I re-run the cell, then it is ok. MUST DEBUG
from coeqwalpackage.metrics import *
import cqwlutils as cu
import plotting as pu

## Define contol file name

In [4]:
CtrlFile = 'CalSim3DataExtractionInitFile_v3.xlsx'
CtrlTab = 'Init'

## Read from control file

In [6]:
ScenarioListFile, ScenarioListTab, ScenarioListPath, DVDssNamesOutPath, SVDssNamesOutPath, ScenarioIndicesOutPath, DssDirsOutPath, VarListPath, VarListFile, VarListTab, VarOutPath, DataOutPath, ConvertDataOutPath, ExtractionSubPath, DemandDeliverySubPath, ModelSubPath, GroupDataDirPath, ScenarioDir, DVDssMin, DVDssMax, SVDssMin, SVDssMax, NameMin, NameMax, DirMin, DirMax, IndexMin, IndexMax, StartMin, StartMax, EndMin, EndMax, VarMin, VarMax, DemandFilePath, DemandFileName, DemandFileTab, DemMin, DemMax = cu.read_init_file(CtrlFile, CtrlTab)

### Read in Data

In [8]:
df, dss_names = read_in_df(ConvertDataOutPath,DVDssNamesOutPath)

In [9]:
df = add_water_year_column(df)

C:\Users\isabe\COEQWAL\coeqwal\notebooks\coeqwalpackage\metrics.py:175: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  return df_copy.drop(["Date", "Year", "Month"], axis=1)

### Get metrics paths and make directories if needed

In [11]:
metrics_path = GroupDataDirPath + "/metrics_output"
if not os.path.exists(metrics_path):
    os.makedirs(metrics_path)

## Metrics Examples

In [13]:
# To get a single metric and variable dataframe, type metrics[Month_{var}_{metric}] ie metrics['Apr_S_RESTOT_NOD_mnth_avg'], thresholds["S_SHSTA_frequency_hitting_level5"]
# Month = Apr, Sept... or None
# Metric = [ann_avg, mnth_avg, compute_iqr, ann_percentile, moy_avgs, mnth_percentile, annual_totals]

In [14]:
# Thresholds

variables = ["S_SHSTA_", "S_OROVL_", "S_TRNTY_", "S_SLUIS_CVP_", "S_SLUIS_SWP_"]
variables_level1 = ["S_SHSTALEVEL1DV", "S_OROVLLEVEL1DV", "S_TRNTYLEVEL1DV", "S_SLUIS_CVPLEVEL1DV", "S_SLUIS_SWPLEVEL1DV"]
variables_level5 = ["S_SHSTALEVEL5DV", "S_OROVLLEVEL5DV", "S_TRNTYLEVEL5DV", "S_SLUIS_CVPLEVEL5DV", "S_SLUIS_SWPLEVEL5DV"]

In [15]:
thresholds = {}

for var, var_lvl1, var_lvl5 in zip(variables, variables_level1, variables_level5):
    # LEVEL5DV calculation (LEVEL5DV - var < 0)
    exceedance_days, exceedance_days_percent = frequency_hitting_level(df, var, var_lvl5, "TAF", f"All_Prob_{var}flood")
    thresholds[f"{var}frequency_hitting_level5"] = (exceedance_days, exceedance_days_percent)

    # LEVEL1DV calculation (var - LEVEL1DV < 0)
    exceedance_days, exceedance_days_percent = frequency_hitting_level(df, var_lvl1, var, "TAF", f"All_Prob_{var}dead")
    thresholds[f"{var}frequency_hitting_level1"] = (exceedance_days, exceedance_days_percent)

    # September LEVEL1DV calculation
    exceedance_days, exceedance_days_percent = frequency_hitting_level(df, var_lvl1, var, "TAF", f"Sept_Prob_{var}dead", months=[9])
    thresholds[f"Sept_{var}frequency_hitting_level1"] = (exceedance_days, exceedance_days_percent)

for threshold, (threshold_df, threshold_percent) in thresholds.items():
    print(f"Threshold: {threshold}")
    display(threshold_df)
    display(threshold_percent)

Threshold: S_SHSTA_frequency_hitting_level5

    All_Prob_S_SHSTA_flood
0                    400.0
1                    378.0
2                    267.0
3                    231.0
4                    211.0
5                    364.0
6                    362.0
7                    361.0
8                    361.0
9                    362.0
10                   379.0
11                   396.0
12                   236.0
13                   247.0
14                   395.0
15                   250.0

A            CALSIM                                                          \
B     S_SHSTA_s0001 S_SHSTA_s0002 S_SHSTA_s0003 S_SHSTA_s0004 S_SHSTA_s0005
C           STORAGE       STORAGE       STORAGE       STORAGE       STORAGE
D              1MON          1MON          1MON          1MON          1MON
E            L2020A        L2020A        L2020A        L2020A        L2020A
F          PER-AVER      PER-AVER      PER-AVER      PER-AVER      PER-AVER
Units           TAF           TAF           TAF           TAF           TAF
0         33.333333          31.5         22.25         19.25     17.583333

A                                                                            \
B     S_SHSTA_s0006 S_SHSTA_s0007 S_SHSTA_s0008 S_SHSTA_s0009 S_SHSTA_s0010
C           STORAGE       STORAGE       STORAGE       STORAGE       STORAGE
D              1MON          1MON          1MON          1MON          1MON
E            L2020A        L2020A        L2020A        L2020A        L2020A
F          PER-AVER      PER-AVER      PER-AVER      PER-AVER      PER-AVER
Units           TAF           TAF           TAF           TAF           TAF
0         30.333333     30.166667     30.083333     30.083333     30.166667

A                                                                            \
B     S_SHSTA_s0011 S_SHSTA_s0012 S_SHSTA_s0013 S_SHSTA_s0014 S_SHSTA_s0015
C           STORAGE       STORAGE       STORAGE       STORAGE       STORAGE
D              1MON          1MON          1MON          1MON          1MON
E            L2020A        L2020A        L2020A        L2020A        L2020A
F          PER-AVER      PER-AVER      PER-AVER      PER-AVER      PER-AVER
Units           TAF           TAF           TAF           TAF           TAF
0         31.583333          33.0     19.666667     20.583333     32.916667

A
B     S_SHSTA_s0016
C           STORAGE
D              1MON
E            L2020A
F          PER-AVER
Units           TAF
0         20.833333

Threshold: S_SHSTA_frequency_hitting_level1

    All_Prob_S_SHSTA_dead
0                     5.0
1                    21.0
2                    46.0
3                    63.0
4                    64.0
5                     4.0
6                     0.0
7                     0.0
8                     0.0
9                     0.0
10                   15.0
11                   22.0
12                   61.0
13                   54.0
14                   14.0
15                   36.0

A                    CALSIM                                              \
B     S_SHSTALEVEL1DV_s0001 S_SHSTALEVEL1DV_s0002 S_SHSTALEVEL1DV_s0003
C             STORAGE-LEVEL         STORAGE-LEVEL         STORAGE-LEVEL
D                      1MON                  1MON                  1MON
E                    L2020A                L2020A                L2020A
F                  PER-AVER              PER-AVER              PER-AVER
Units                   TAF                   TAF                   TAF
0                  0.416667                  1.75              3.833333

A                                                                        \
B     S_SHSTALEVEL1DV_s0004 S_SHSTALEVEL1DV_s0005 S_SHSTALEVEL1DV_s0006
C             STORAGE-LEVEL         STORAGE-LEVEL         STORAGE-LEVEL
D                      1MON                  1MON                  1MON
E                    L2020A                L2020A                L2020A
F                  PER-AVER              PER-AVER              PER-AVER
Units                   TAF                   TAF                   TAF
0                      5.25              5.333333              0.333333

A                                                                        \
B     S_SHSTALEVEL1DV_s0007 S_SHSTALEVEL1DV_s0008 S_SHSTALEVEL1DV_s0009
C             STORAGE-LEVEL         STORAGE-LEVEL         STORAGE-LEVEL
D                      1MON                  1MON                  1MON
E                    L2020A                L2020A                L2020A
F                  PER-AVER              PER-AVER              PER-AVER
Units                   TAF                   TAF                   TAF
0                       0.0                   0.0                   0.0

A                                                                        \
B     S_SHSTALEVEL1DV_s0010 S_SHSTALEVEL1DV_s0011 S_SHSTALEVEL1DV_s0012
C             STORAGE-LEVEL         STORAGE-LEVEL         STORAGE-LEVEL
D                      1MON                  1MON                  1MON
E                    L2020A                L2020A                L2020A
F                  PER-AVER              PER-AVER              PER-AVER
Units                   TAF                   TAF                   TAF
0                       0.0                  1.25              1.833333

A                                                                        \
B     S_SHSTALEVEL1DV_s0013 S_SHSTALEVEL1DV_s0014 S_SHSTALEVEL1DV_s0015
C             STORAGE-LEVEL         STORAGE-LEVEL         STORAGE-LEVEL
D                      1MON                  1MON                  1MON
E                    L2020A                L2020A                L2020A
F                  PER-AVER              PER-AVER              PER-AVER
Units                   TAF                   TAF                   TAF
0                  5.083333                   4.5              1.166667

A
B     S_SHSTALEVEL1DV_s0016
C             STORAGE-LEVEL
D                      1MON
E                    L2020A
F                  PER-AVER
Units                   TAF
0                       3.0

Threshold: Sept_S_SHSTA_frequency_hitting_level1

    Sept_Prob_S_SHSTA_dead
0                      1.0
1                      5.0
2                     10.0
3                     11.0
4                     11.0
5                      1.0
6                      0.0
7                      0.0
8                      0.0
9                      0.0
10                     4.0
11                     5.0
12                    11.0
13                    10.0
14                     3.0
15                     7.0

A                    CALSIM                                              \
B     S_SHSTALEVEL1DV_s0001 S_SHSTALEVEL1DV_s0002 S_SHSTALEVEL1DV_s0003
C             STORAGE-LEVEL         STORAGE-LEVEL         STORAGE-LEVEL
D                      1MON                  1MON                  1MON
E                    L2020A                L2020A                L2020A
F                  PER-AVER              PER-AVER              PER-AVER
Units                   TAF                   TAF                   TAF
0                       1.0                   5.0                  10.0

A                                                                        \
B     S_SHSTALEVEL1DV_s0004 S_SHSTALEVEL1DV_s0005 S_SHSTALEVEL1DV_s0006
C             STORAGE-LEVEL         STORAGE-LEVEL         STORAGE-LEVEL
D                      1MON                  1MON                  1MON
E                    L2020A                L2020A                L2020A
F                  PER-AVER              PER-AVER              PER-AVER
Units                   TAF                   TAF                   TAF
0                      11.0                  11.0                   1.0

A                                                                        \
B     S_SHSTALEVEL1DV_s0007 S_SHSTALEVEL1DV_s0008 S_SHSTALEVEL1DV_s0009
C             STORAGE-LEVEL         STORAGE-LEVEL         STORAGE-LEVEL
D                      1MON                  1MON                  1MON
E                    L2020A                L2020A                L2020A
F                  PER-AVER              PER-AVER              PER-AVER
Units                   TAF                   TAF                   TAF
0                       0.0                   0.0                   0.0

A                                                                        \
B     S_SHSTALEVEL1DV_s0010 S_SHSTALEVEL1DV_s0011 S_SHSTALEVEL1DV_s0012
C             STORAGE-LEVEL         STORAGE-LEVEL         STORAGE-LEVEL
D                      1MON                  1MON                  1MON
E                    L2020A                L2020A                L2020A
F                  PER-AVER              PER-AVER              PER-AVER
Units                   TAF                   TAF                   TAF
0                       0.0                   4.0                   5.0

A                                                                        \
B     S_SHSTALEVEL1DV_s0013 S_SHSTALEVEL1DV_s0014 S_SHSTALEVEL1DV_s0015
C             STORAGE-LEVEL         STORAGE-LEVEL         STORAGE-LEVEL
D                      1MON                  1MON                  1MON
E                    L2020A                L2020A                L2020A
F                  PER-AVER              PER-AVER              PER-AVER
Units                   TAF                   TAF                   TAF
0                      11.0                  10.0                   3.0

A
B     S_SHSTALEVEL1DV_s0016
C             STORAGE-LEVEL
D                      1MON
E                    L2020A
F                  PER-AVER
Units                   TAF
0                       7.0

Threshold: S_OROVL_frequency_hitting_level5

    All_Prob_S_OROVL_flood
0                    258.0
1                    252.0
2                    199.0
3                    173.0
4                    160.0
5                    244.0
6                    242.0
7                    240.0
8                    242.0
9                    242.0
10                   253.0
11                   257.0
12                   176.0
13                   184.0
14                   259.0
15                   185.0

A            CALSIM                                                          \
B     S_OROVL_s0001 S_OROVL_s0002 S_OROVL_s0003 S_OROVL_s0004 S_OROVL_s0005
C           STORAGE       STORAGE       STORAGE       STORAGE       STORAGE
D              1MON          1MON          1MON          1MON          1MON
E            L2020A        L2020A        L2020A        L2020A        L2020A
F          PER-AVER      PER-AVER      PER-AVER      PER-AVER      PER-AVER
Units           TAF           TAF           TAF           TAF           TAF
0              21.5          21.0     16.583333     14.416667     13.333333

A                                                                            \
B     S_OROVL_s0006 S_OROVL_s0007 S_OROVL_s0008 S_OROVL_s0009 S_OROVL_s0010
C           STORAGE       STORAGE       STORAGE       STORAGE       STORAGE
D              1MON          1MON          1MON          1MON          1MON
E            L2020A        L2020A        L2020A        L2020A        L2020A
F          PER-AVER      PER-AVER      PER-AVER      PER-AVER      PER-AVER
Units           TAF           TAF           TAF           TAF           TAF
0         20.333333     20.166667          20.0     20.166667     20.166667

A                                                                            \
B     S_OROVL_s0011 S_OROVL_s0012 S_OROVL_s0013 S_OROVL_s0014 S_OROVL_s0015
C           STORAGE       STORAGE       STORAGE       STORAGE       STORAGE
D              1MON          1MON          1MON          1MON          1MON
E            L2020A        L2020A        L2020A        L2020A        L2020A
F          PER-AVER      PER-AVER      PER-AVER      PER-AVER      PER-AVER
Units           TAF           TAF           TAF           TAF           TAF
0         21.083333     21.416667     14.666667     15.333333     21.583333

A
B     S_OROVL_s0016
C           STORAGE
D              1MON
E            L2020A
F          PER-AVER
Units           TAF
0         15.416667

Threshold: S_OROVL_frequency_hitting_level1

    All_Prob_S_OROVL_dead
0                     0.0
1                     1.0
2                    12.0
3                    20.0
4                    29.0
5                     0.0
6                     0.0
7                     0.0
8                     0.0
9                     0.0
10                    1.0
11                    1.0
12                   21.0
13                   19.0
14                    0.0
15                    8.0

A                    CALSIM                                              \
B     S_OROVLLEVEL1DV_s0001 S_OROVLLEVEL1DV_s0002 S_OROVLLEVEL1DV_s0003
C             STORAGE-LEVEL         STORAGE-LEVEL         STORAGE-LEVEL
D                      1MON                  1MON                  1MON
E                    L2020A                L2020A                L2020A
F                  PER-AVER              PER-AVER              PER-AVER
Units                   TAF                   TAF                   TAF
0                       0.0              0.083333                   1.0

A                                                                        \
B     S_OROVLLEVEL1DV_s0004 S_OROVLLEVEL1DV_s0005 S_OROVLLEVEL1DV_s0006
C             STORAGE-LEVEL         STORAGE-LEVEL         STORAGE-LEVEL
D                      1MON                  1MON                  1MON
E                    L2020A                L2020A                L2020A
F                  PER-AVER              PER-AVER              PER-AVER
Units                   TAF                   TAF                   TAF
0                  1.666667              2.416667                   0.0

A                                                                        \
B     S_OROVLLEVEL1DV_s0007 S_OROVLLEVEL1DV_s0008 S_OROVLLEVEL1DV_s0009
C             STORAGE-LEVEL         STORAGE-LEVEL         STORAGE-LEVEL
D                      1MON                  1MON                  1MON
E                    L2020A                L2020A                L2020A
F                  PER-AVER              PER-AVER              PER-AVER
Units                   TAF                   TAF                   TAF
0                       0.0                   0.0                   0.0

A                                                                        \
B     S_OROVLLEVEL1DV_s0010 S_OROVLLEVEL1DV_s0011 S_OROVLLEVEL1DV_s0012
C             STORAGE-LEVEL         STORAGE-LEVEL         STORAGE-LEVEL
D                      1MON                  1MON                  1MON
E                    L2020A                L2020A                L2020A
F                  PER-AVER              PER-AVER              PER-AVER
Units                   TAF                   TAF                   TAF
0                       0.0              0.083333              0.083333

A                                                                        \
B     S_OROVLLEVEL1DV_s0013 S_OROVLLEVEL1DV_s0014 S_OROVLLEVEL1DV_s0015
C             STORAGE-LEVEL         STORAGE-LEVEL         STORAGE-LEVEL
D                      1MON                  1MON                  1MON
E                    L2020A                L2020A                L2020A
F                  PER-AVER              PER-AVER              PER-AVER
Units                   TAF                   TAF                   TAF
0                      1.75              1.583333                   0.0

A
B     S_OROVLLEVEL1DV_s0016
C             STORAGE-LEVEL
D                      1MON
E                    L2020A
F                  PER-AVER
Units                   TAF
0                  0.666667

Threshold: Sept_S_OROVL_frequency_hitting_level1

    Sept_Prob_S_OROVL_dead
0                      0.0
1                      0.0
2                      2.0
3                      4.0
4                      6.0
5                      0.0
6                      0.0
7                      0.0
8                      0.0
9                      0.0
10                     0.0
11                     0.0
12                     3.0
13                     3.0
14                     0.0
15                     2.0

A                    CALSIM                                              \
B     S_OROVLLEVEL1DV_s0001 S_OROVLLEVEL1DV_s0002 S_OROVLLEVEL1DV_s0003
C             STORAGE-LEVEL         STORAGE-LEVEL         STORAGE-LEVEL
D                      1MON                  1MON                  1MON
E                    L2020A                L2020A                L2020A
F                  PER-AVER              PER-AVER              PER-AVER
Units                   TAF                   TAF                   TAF
0                       0.0                   0.0                   2.0

A                                                                        \
B     S_OROVLLEVEL1DV_s0004 S_OROVLLEVEL1DV_s0005 S_OROVLLEVEL1DV_s0006
C             STORAGE-LEVEL         STORAGE-LEVEL         STORAGE-LEVEL
D                      1MON                  1MON                  1MON
E                    L2020A                L2020A                L2020A
F                  PER-AVER              PER-AVER              PER-AVER
Units                   TAF                   TAF                   TAF
0                       4.0                   6.0                   0.0

A                                                                        \
B     S_OROVLLEVEL1DV_s0007 S_OROVLLEVEL1DV_s0008 S_OROVLLEVEL1DV_s0009
C             STORAGE-LEVEL         STORAGE-LEVEL         STORAGE-LEVEL
D                      1MON                  1MON                  1MON
E                    L2020A                L2020A                L2020A
F                  PER-AVER              PER-AVER              PER-AVER
Units                   TAF                   TAF                   TAF
0                       0.0                   0.0                   0.0

A                                                                        \
B     S_OROVLLEVEL1DV_s0010 S_OROVLLEVEL1DV_s0011 S_OROVLLEVEL1DV_s0012
C             STORAGE-LEVEL         STORAGE-LEVEL         STORAGE-LEVEL
D                      1MON                  1MON                  1MON
E                    L2020A                L2020A                L2020A
F                  PER-AVER              PER-AVER              PER-AVER
Units                   TAF                   TAF                   TAF
0                       0.0                   0.0                   0.0

A                                                                        \
B     S_OROVLLEVEL1DV_s0013 S_OROVLLEVEL1DV_s0014 S_OROVLLEVEL1DV_s0015
C             STORAGE-LEVEL         STORAGE-LEVEL         STORAGE-LEVEL
D                      1MON                  1MON                  1MON
E                    L2020A                L2020A                L2020A
F                  PER-AVER              PER-AVER              PER-AVER
Units                   TAF                   TAF                   TAF
0                       3.0                   3.0                   0.0

A
B     S_OROVLLEVEL1DV_s0016
C             STORAGE-LEVEL
D                      1MON
E                    L2020A
F                  PER-AVER
Units                   TAF
0                       2.0

Threshold: S_TRNTY_frequency_hitting_level5

    All_Prob_S_TRNTY_flood
0                      0.0
1                      1.0
2                      0.0
3                      0.0
4                      0.0
5                      0.0
6                      0.0
7                      0.0
8                      0.0
9                      0.0
10                     1.0
11                     1.0
12                     0.0
13                     0.0
14                     1.0
15                     0.0

A            CALSIM                                                          \
B     S_TRNTY_s0001 S_TRNTY_s0002 S_TRNTY_s0003 S_TRNTY_s0004 S_TRNTY_s0005
C           STORAGE       STORAGE       STORAGE       STORAGE       STORAGE
D              1MON          1MON          1MON          1MON          1MON
E            L2020A        L2020A        L2020A        L2020A        L2020A
F          PER-AVER      PER-AVER      PER-AVER      PER-AVER      PER-AVER
Units           TAF           TAF           TAF           TAF           TAF
0               0.0      0.083333           0.0           0.0           0.0

A                                                                            \
B     S_TRNTY_s0006 S_TRNTY_s0007 S_TRNTY_s0008 S_TRNTY_s0009 S_TRNTY_s0010
C           STORAGE       STORAGE       STORAGE       STORAGE       STORAGE
D              1MON          1MON          1MON          1MON          1MON
E            L2020A        L2020A        L2020A        L2020A        L2020A
F          PER-AVER      PER-AVER      PER-AVER      PER-AVER      PER-AVER
Units           TAF           TAF           TAF           TAF           TAF
0               0.0           0.0           0.0           0.0           0.0

A                                                                            \
B     S_TRNTY_s0011 S_TRNTY_s0012 S_TRNTY_s0013 S_TRNTY_s0014 S_TRNTY_s0015
C           STORAGE       STORAGE       STORAGE       STORAGE       STORAGE
D              1MON          1MON          1MON          1MON          1MON
E            L2020A        L2020A        L2020A        L2020A        L2020A
F          PER-AVER      PER-AVER      PER-AVER      PER-AVER      PER-AVER
Units           TAF           TAF           TAF           TAF           TAF
0          0.083333      0.083333           0.0           0.0      0.083333

A
B     S_TRNTY_s0016
C           STORAGE
D              1MON
E            L2020A
F          PER-AVER
Units           TAF
0               0.0

Threshold: S_TRNTY_frequency_hitting_level1

    All_Prob_S_TRNTY_dead
0                     0.0
1                     0.0
2                     0.0
3                     0.0
4                     0.0
5                     5.0
6                     0.0
7                     1.0
8                     1.0
9                     1.0
10                    0.0
11                    0.0
12                    0.0
13                    0.0
14                    0.0
15                    0.0

A                    CALSIM                                              \
B     S_TRNTYLEVEL1DV_s0001 S_TRNTYLEVEL1DV_s0002 S_TRNTYLEVEL1DV_s0003
C             STORAGE-LEVEL         STORAGE-LEVEL         STORAGE-LEVEL
D                      1MON                  1MON                  1MON
E                    L2020A                L2020A                L2020A
F                  PER-AVER              PER-AVER              PER-AVER
Units                   TAF                   TAF                   TAF
0                       0.0                   0.0                   0.0

A                                                                        \
B     S_TRNTYLEVEL1DV_s0004 S_TRNTYLEVEL1DV_s0005 S_TRNTYLEVEL1DV_s0006
C             STORAGE-LEVEL         STORAGE-LEVEL         STORAGE-LEVEL
D                      1MON                  1MON                  1MON
E                    L2020A                L2020A                L2020A
F                  PER-AVER              PER-AVER              PER-AVER
Units                   TAF                   TAF                   TAF
0                       0.0                   0.0              0.416667

A                                                                        \
B     S_TRNTYLEVEL1DV_s0007 S_TRNTYLEVEL1DV_s0008 S_TRNTYLEVEL1DV_s0009
C             STORAGE-LEVEL         STORAGE-LEVEL         STORAGE-LEVEL
D                      1MON                  1MON                  1MON
E                    L2020A                L2020A                L2020A
F                  PER-AVER              PER-AVER              PER-AVER
Units                   TAF                   TAF                   TAF
0                       0.0              0.083333              0.083333

A                                                                        \
B     S_TRNTYLEVEL1DV_s0010 S_TRNTYLEVEL1DV_s0011 S_TRNTYLEVEL1DV_s0012
C             STORAGE-LEVEL         STORAGE-LEVEL         STORAGE-LEVEL
D                      1MON                  1MON                  1MON
E                    L2020A                L2020A                L2020A
F                  PER-AVER              PER-AVER              PER-AVER
Units                   TAF                   TAF                   TAF
0                  0.083333                   0.0                   0.0

A                                                                        \
B     S_TRNTYLEVEL1DV_s0013 S_TRNTYLEVEL1DV_s0014 S_TRNTYLEVEL1DV_s0015
C             STORAGE-LEVEL         STORAGE-LEVEL         STORAGE-LEVEL
D                      1MON                  1MON                  1MON
E                    L2020A                L2020A                L2020A
F                  PER-AVER              PER-AVER              PER-AVER
Units                   TAF                   TAF                   TAF
0                       0.0                   0.0                   0.0

A
B     S_TRNTYLEVEL1DV_s0016
C             STORAGE-LEVEL
D                      1MON
E                    L2020A
F                  PER-AVER
Units                   TAF
0                       0.0

Threshold: Sept_S_TRNTY_frequency_hitting_level1

    Sept_Prob_S_TRNTY_dead
0                      0.0
1                      0.0
2                      0.0
3                      0.0
4                      0.0
5                      2.0
6                      0.0
7                      1.0
8                      1.0
9                      1.0
10                     0.0
11                     0.0
12                     0.0
13                     0.0
14                     0.0
15                     0.0

A                    CALSIM                                              \
B     S_TRNTYLEVEL1DV_s0001 S_TRNTYLEVEL1DV_s0002 S_TRNTYLEVEL1DV_s0003
C             STORAGE-LEVEL         STORAGE-LEVEL         STORAGE-LEVEL
D                      1MON                  1MON                  1MON
E                    L2020A                L2020A                L2020A
F                  PER-AVER              PER-AVER              PER-AVER
Units                   TAF                   TAF                   TAF
0                       0.0                   0.0                   0.0

A                                                                        \
B     S_TRNTYLEVEL1DV_s0004 S_TRNTYLEVEL1DV_s0005 S_TRNTYLEVEL1DV_s0006
C             STORAGE-LEVEL         STORAGE-LEVEL         STORAGE-LEVEL
D                      1MON                  1MON                  1MON
E                    L2020A                L2020A                L2020A
F                  PER-AVER              PER-AVER              PER-AVER
Units                   TAF                   TAF                   TAF
0                       0.0                   0.0                   2.0

A                                                                        \
B     S_TRNTYLEVEL1DV_s0007 S_TRNTYLEVEL1DV_s0008 S_TRNTYLEVEL1DV_s0009
C             STORAGE-LEVEL         STORAGE-LEVEL         STORAGE-LEVEL
D                      1MON                  1MON                  1MON
E                    L2020A                L2020A                L2020A
F                  PER-AVER              PER-AVER              PER-AVER
Units                   TAF                   TAF                   TAF
0                       0.0                   1.0                   1.0

A                                                                        \
B     S_TRNTYLEVEL1DV_s0010 S_TRNTYLEVEL1DV_s0011 S_TRNTYLEVEL1DV_s0012
C             STORAGE-LEVEL         STORAGE-LEVEL         STORAGE-LEVEL
D                      1MON                  1MON                  1MON
E                    L2020A                L2020A                L2020A
F                  PER-AVER              PER-AVER              PER-AVER
Units                   TAF                   TAF                   TAF
0                       1.0                   0.0                   0.0

A                                                                        \
B     S_TRNTYLEVEL1DV_s0013 S_TRNTYLEVEL1DV_s0014 S_TRNTYLEVEL1DV_s0015
C             STORAGE-LEVEL         STORAGE-LEVEL         STORAGE-LEVEL
D                      1MON                  1MON                  1MON
E                    L2020A                L2020A                L2020A
F                  PER-AVER              PER-AVER              PER-AVER
Units                   TAF                   TAF                   TAF
0                       0.0                   0.0                   0.0

A
B     S_TRNTYLEVEL1DV_s0016
C             STORAGE-LEVEL
D                      1MON
E                    L2020A
F                  PER-AVER
Units                   TAF
0                       0.0

Threshold: S_SLUIS_CVP_frequency_hitting_level5

    All_Prob_S_SLUIS_CVP_flood
0                         94.0
1                         92.0
2                         66.0
3                         56.0
4                         50.0
5                        102.0
6                        105.0
7                        106.0
8                        109.0
9                        110.0
10                       103.0
11                       120.0
12                        60.0
13                        79.0
14                       132.0
15                        77.0

A                CALSIM                                                        \
B     S_SLUIS_CVP_s0001 S_SLUIS_CVP_s0002 S_SLUIS_CVP_s0003 S_SLUIS_CVP_s0004
C               STORAGE           STORAGE           STORAGE           STORAGE
D                  1MON              1MON              1MON              1MON
E                L2020A            L2020A            L2020A            L2020A
F              PER-AVER          PER-AVER          PER-AVER          PER-AVER
Units               TAF               TAF               TAF               TAF
0              7.833333          7.666667               5.5          4.666667

A                                                                              \
B     S_SLUIS_CVP_s0005 S_SLUIS_CVP_s0006 S_SLUIS_CVP_s0007 S_SLUIS_CVP_s0008
C               STORAGE           STORAGE           STORAGE           STORAGE
D                  1MON              1MON              1MON              1MON
E                L2020A            L2020A            L2020A            L2020A
F              PER-AVER          PER-AVER          PER-AVER          PER-AVER
Units               TAF               TAF               TAF               TAF
0              4.166667               8.5              8.75          8.833333

A                                                                              \
B     S_SLUIS_CVP_s0009 S_SLUIS_CVP_s0010 S_SLUIS_CVP_s0011 S_SLUIS_CVP_s0012
C               STORAGE           STORAGE           STORAGE           STORAGE
D                  1MON              1MON              1MON              1MON
E                L2020A            L2020A            L2020A            L2020A
F              PER-AVER          PER-AVER          PER-AVER          PER-AVER
Units               TAF               TAF               TAF               TAF
0              9.083333          9.166667          8.583333              10.0

A
B     S_SLUIS_CVP_s0013 S_SLUIS_CVP_s0014 S_SLUIS_CVP_s0015 S_SLUIS_CVP_s0016
C               STORAGE           STORAGE           STORAGE           STORAGE
D                  1MON              1MON              1MON              1MON
E                L2020A            L2020A            L2020A            L2020A
F              PER-AVER          PER-AVER          PER-AVER          PER-AVER
Units               TAF               TAF               TAF               TAF
0                   5.0          6.583333              11.0          6.416667

Threshold: S_SLUIS_CVP_frequency_hitting_level1

    All_Prob_S_SLUIS_CVP_dead
0                        19.0
1                        33.0
2                        69.0
3                       102.0
4                       123.0
5                        21.0
6                        18.0
7                        21.0
8                        21.0
9                        21.0
10                       30.0
11                       15.0
12                       94.0
13                       53.0
14                        8.0
15                       49.0

A                        CALSIM                            \
B     S_SLUIS_CVPLEVEL1DV_s0001 S_SLUIS_CVPLEVEL1DV_s0002
C                 STORAGE-LEVEL             STORAGE-LEVEL
D                          1MON                      1MON
E                        L2020A                    L2020A
F                      PER-AVER                  PER-AVER
Units                       TAF                       TAF
0                      1.583333                      2.75

A                                                          \
B     S_SLUIS_CVPLEVEL1DV_s0003 S_SLUIS_CVPLEVEL1DV_s0004
C                 STORAGE-LEVEL             STORAGE-LEVEL
D                          1MON                      1MON
E                        L2020A                    L2020A
F                      PER-AVER                  PER-AVER
Units                       TAF                       TAF
0                          5.75                       8.5

A                                                          \
B     S_SLUIS_CVPLEVEL1DV_s0005 S_SLUIS_CVPLEVEL1DV_s0006
C                 STORAGE-LEVEL             STORAGE-LEVEL
D                          1MON                      1MON
E                        L2020A                    L2020A
F                      PER-AVER                  PER-AVER
Units                       TAF                       TAF
0                         10.25                      1.75

A                                                          \
B     S_SLUIS_CVPLEVEL1DV_s0007 S_SLUIS_CVPLEVEL1DV_s0008
C                 STORAGE-LEVEL             STORAGE-LEVEL
D                          1MON                      1MON
E                        L2020A                    L2020A
F                      PER-AVER                  PER-AVER
Units                       TAF                       TAF
0                           1.5                      1.75

A                                                          \
B     S_SLUIS_CVPLEVEL1DV_s0009 S_SLUIS_CVPLEVEL1DV_s0010
C                 STORAGE-LEVEL             STORAGE-LEVEL
D                          1MON                      1MON
E                        L2020A                    L2020A
F                      PER-AVER                  PER-AVER
Units                       TAF                       TAF
0                          1.75                      1.75

A                                                          \
B     S_SLUIS_CVPLEVEL1DV_s0011 S_SLUIS_CVPLEVEL1DV_s0012
C                 STORAGE-LEVEL             STORAGE-LEVEL
D                          1MON                      1MON
E                        L2020A                    L2020A
F                      PER-AVER                  PER-AVER
Units                       TAF                       TAF
0                           2.5                      1.25

A                                                          \
B     S_SLUIS_CVPLEVEL1DV_s0013 S_SLUIS_CVPLEVEL1DV_s0014
C                 STORAGE-LEVEL             STORAGE-LEVEL
D                          1MON                      1MON
E                        L2020A                    L2020A
F                      PER-AVER                  PER-AVER
Units                       TAF                       TAF
0                      7.833333                  4.416667

A
B     S_SLUIS_CVPLEVEL1DV_s0015 S_SLUIS_CVPLEVEL1DV_s0016
C                 STORAGE-LEVEL             STORAGE-LEVEL
D                          1MON                      1MON
E                        L2020A                    L2020A
F                      PER-AVER                  PER-AVER
Units                       TAF                       TAF
0                      0.666667                  4.083333

Threshold: Sept_S_SLUIS_CVP_frequency_hitting_level1

    Sept_Prob_S_SLUIS_CVP_dead
0                          5.0
1                          8.0
2                         13.0
3                         21.0
4                         22.0
5                          0.0
6                          0.0
7                          0.0
8                          0.0
9                          0.0
10                         7.0
11                         3.0
12                        20.0
13                        13.0
14                         0.0
15                         9.0

A                        CALSIM                            \
B     S_SLUIS_CVPLEVEL1DV_s0001 S_SLUIS_CVPLEVEL1DV_s0002
C                 STORAGE-LEVEL             STORAGE-LEVEL
D                          1MON                      1MON
E                        L2020A                    L2020A
F                      PER-AVER                  PER-AVER
Units                       TAF                       TAF
0                           5.0                       8.0

A                                                          \
B     S_SLUIS_CVPLEVEL1DV_s0003 S_SLUIS_CVPLEVEL1DV_s0004
C                 STORAGE-LEVEL             STORAGE-LEVEL
D                          1MON                      1MON
E                        L2020A                    L2020A
F                      PER-AVER                  PER-AVER
Units                       TAF                       TAF
0                          13.0                      21.0

A                                                          \
B     S_SLUIS_CVPLEVEL1DV_s0005 S_SLUIS_CVPLEVEL1DV_s0006
C                 STORAGE-LEVEL             STORAGE-LEVEL
D                          1MON                      1MON
E                        L2020A                    L2020A
F                      PER-AVER                  PER-AVER
Units                       TAF                       TAF
0                          22.0                       0.0

A                                                          \
B     S_SLUIS_CVPLEVEL1DV_s0007 S_SLUIS_CVPLEVEL1DV_s0008
C                 STORAGE-LEVEL             STORAGE-LEVEL
D                          1MON                      1MON
E                        L2020A                    L2020A
F                      PER-AVER                  PER-AVER
Units                       TAF                       TAF
0                           0.0                       0.0

A                                                          \
B     S_SLUIS_CVPLEVEL1DV_s0009 S_SLUIS_CVPLEVEL1DV_s0010
C                 STORAGE-LEVEL             STORAGE-LEVEL
D                          1MON                      1MON
E                        L2020A                    L2020A
F                      PER-AVER                  PER-AVER
Units                       TAF                       TAF
0                           0.0                       0.0

A                                                          \
B     S_SLUIS_CVPLEVEL1DV_s0011 S_SLUIS_CVPLEVEL1DV_s0012
C                 STORAGE-LEVEL             STORAGE-LEVEL
D                          1MON                      1MON
E                        L2020A                    L2020A
F                      PER-AVER                  PER-AVER
Units                       TAF                       TAF
0                           7.0                       3.0

A                                                          \
B     S_SLUIS_CVPLEVEL1DV_s0013 S_SLUIS_CVPLEVEL1DV_s0014
C                 STORAGE-LEVEL             STORAGE-LEVEL
D                          1MON                      1MON
E                        L2020A                    L2020A
F                      PER-AVER                  PER-AVER
Units                       TAF                       TAF
0                          20.0                      13.0

A
B     S_SLUIS_CVPLEVEL1DV_s0015 S_SLUIS_CVPLEVEL1DV_s0016
C                 STORAGE-LEVEL             STORAGE-LEVEL
D                          1MON                      1MON
E                        L2020A                    L2020A
F                      PER-AVER                  PER-AVER
Units                       TAF                       TAF
0                           0.0                       9.0

Threshold: S_SLUIS_SWP_frequency_hitting_level5

    All_Prob_S_SLUIS_SWP_flood
0                         79.0
1                         88.0
2                         72.0
3                         62.0
4                         51.0
5                         69.0
6                        192.0
7                        216.0
8                        227.0
9                        228.0
10                        92.0
11                       106.0
12                        66.0
13                        73.0
14                       106.0
15                        76.0

A                CALSIM                                                        \
B     S_SLUIS_SWP_s0001 S_SLUIS_SWP_s0002 S_SLUIS_SWP_s0003 S_SLUIS_SWP_s0004
C               STORAGE           STORAGE           STORAGE           STORAGE
D                  1MON              1MON              1MON              1MON
E                L2020A            L2020A            L2020A            L2020A
F              PER-AVER          PER-AVER          PER-AVER          PER-AVER
Units               TAF               TAF               TAF               TAF
0              6.583333          7.333333               6.0          5.166667

A                                                                              \
B     S_SLUIS_SWP_s0005 S_SLUIS_SWP_s0006 S_SLUIS_SWP_s0007 S_SLUIS_SWP_s0008
C               STORAGE           STORAGE           STORAGE           STORAGE
D                  1MON              1MON              1MON              1MON
E                L2020A            L2020A            L2020A            L2020A
F              PER-AVER          PER-AVER          PER-AVER          PER-AVER
Units               TAF               TAF               TAF               TAF
0                  4.25              5.75              16.0              18.0

A                                                                              \
B     S_SLUIS_SWP_s0009 S_SLUIS_SWP_s0010 S_SLUIS_SWP_s0011 S_SLUIS_SWP_s0012
C               STORAGE           STORAGE           STORAGE           STORAGE
D                  1MON              1MON              1MON              1MON
E                L2020A            L2020A            L2020A            L2020A
F              PER-AVER          PER-AVER          PER-AVER          PER-AVER
Units               TAF               TAF               TAF               TAF
0             18.916667              19.0          7.666667          8.833333

A
B     S_SLUIS_SWP_s0013 S_SLUIS_SWP_s0014 S_SLUIS_SWP_s0015 S_SLUIS_SWP_s0016
C               STORAGE           STORAGE           STORAGE           STORAGE
D                  1MON              1MON              1MON              1MON
E                L2020A            L2020A            L2020A            L2020A
F              PER-AVER          PER-AVER          PER-AVER          PER-AVER
Units               TAF               TAF               TAF               TAF
0                   5.5          6.083333          8.833333          6.333333

Threshold: S_SLUIS_SWP_frequency_hitting_level1

    All_Prob_S_SLUIS_SWP_dead
0                        35.0
1                        32.0
2                        33.0
3                        67.0
4                        52.0
5                        48.0
6                        37.0
7                        40.0
8                        40.0
9                        40.0
10                       30.0
11                       30.0
12                       40.0
13                       31.0
14                       26.0
15                       31.0

A                        CALSIM                            \
B     S_SLUIS_SWPLEVEL1DV_s0001 S_SLUIS_SWPLEVEL1DV_s0002
C                 STORAGE-LEVEL             STORAGE-LEVEL
D                          1MON                      1MON
E                        L2020A                    L2020A
F                      PER-AVER                  PER-AVER
Units                       TAF                       TAF
0                      2.916667                  2.666667

A                                                          \
B     S_SLUIS_SWPLEVEL1DV_s0003 S_SLUIS_SWPLEVEL1DV_s0004
C                 STORAGE-LEVEL             STORAGE-LEVEL
D                          1MON                      1MON
E                        L2020A                    L2020A
F                      PER-AVER                  PER-AVER
Units                       TAF                       TAF
0                          2.75                  5.583333

A                                                          \
B     S_SLUIS_SWPLEVEL1DV_s0005 S_SLUIS_SWPLEVEL1DV_s0006
C                 STORAGE-LEVEL             STORAGE-LEVEL
D                          1MON                      1MON
E                        L2020A                    L2020A
F                      PER-AVER                  PER-AVER
Units                       TAF                       TAF
0                      4.333333                       4.0

A                                                          \
B     S_SLUIS_SWPLEVEL1DV_s0007 S_SLUIS_SWPLEVEL1DV_s0008
C                 STORAGE-LEVEL             STORAGE-LEVEL
D                          1MON                      1MON
E                        L2020A                    L2020A
F                      PER-AVER                  PER-AVER
Units                       TAF                       TAF
0                      3.083333                  3.333333

A                                                          \
B     S_SLUIS_SWPLEVEL1DV_s0009 S_SLUIS_SWPLEVEL1DV_s0010
C                 STORAGE-LEVEL             STORAGE-LEVEL
D                          1MON                      1MON
E                        L2020A                    L2020A
F                      PER-AVER                  PER-AVER
Units                       TAF                       TAF
0                      3.333333                  3.333333

A                                                          \
B     S_SLUIS_SWPLEVEL1DV_s0011 S_SLUIS_SWPLEVEL1DV_s0012
C                 STORAGE-LEVEL             STORAGE-LEVEL
D                          1MON                      1MON
E                        L2020A                    L2020A
F                      PER-AVER                  PER-AVER
Units                       TAF                       TAF
0                           2.5                       2.5

A                                                          \
B     S_SLUIS_SWPLEVEL1DV_s0013 S_SLUIS_SWPLEVEL1DV_s0014
C                 STORAGE-LEVEL             STORAGE-LEVEL
D                          1MON                      1MON
E                        L2020A                    L2020A
F                      PER-AVER                  PER-AVER
Units                       TAF                       TAF
0                      3.333333                  2.583333

A
B     S_SLUIS_SWPLEVEL1DV_s0015 S_SLUIS_SWPLEVEL1DV_s0016
C                 STORAGE-LEVEL             STORAGE-LEVEL
D                          1MON                      1MON
E                        L2020A                    L2020A
F                      PER-AVER                  PER-AVER
Units                       TAF                       TAF
0                      2.166667                  2.583333

Threshold: Sept_S_SLUIS_SWP_frequency_hitting_level1

    Sept_Prob_S_SLUIS_SWP_dead
0                          5.0
1                          5.0
2                          6.0
3                         13.0
4                          7.0
5                          6.0
6                          6.0
7                          5.0
8                          7.0
9                          7.0
10                         5.0
11                         4.0
12                         6.0
13                         4.0
14                         3.0
15                         4.0

A                        CALSIM                            \
B     S_SLUIS_SWPLEVEL1DV_s0001 S_SLUIS_SWPLEVEL1DV_s0002
C                 STORAGE-LEVEL             STORAGE-LEVEL
D                          1MON                      1MON
E                        L2020A                    L2020A
F                      PER-AVER                  PER-AVER
Units                       TAF                       TAF
0                           5.0                       5.0

A                                                          \
B     S_SLUIS_SWPLEVEL1DV_s0003 S_SLUIS_SWPLEVEL1DV_s0004
C                 STORAGE-LEVEL             STORAGE-LEVEL
D                          1MON                      1MON
E                        L2020A                    L2020A
F                      PER-AVER                  PER-AVER
Units                       TAF                       TAF
0                           6.0                      13.0

A                                                          \
B     S_SLUIS_SWPLEVEL1DV_s0005 S_SLUIS_SWPLEVEL1DV_s0006
C                 STORAGE-LEVEL             STORAGE-LEVEL
D                          1MON                      1MON
E                        L2020A                    L2020A
F                      PER-AVER                  PER-AVER
Units                       TAF                       TAF
0                           7.0                       6.0

A                                                          \
B     S_SLUIS_SWPLEVEL1DV_s0007 S_SLUIS_SWPLEVEL1DV_s0008
C                 STORAGE-LEVEL             STORAGE-LEVEL
D                          1MON                      1MON
E                        L2020A                    L2020A
F                      PER-AVER                  PER-AVER
Units                       TAF                       TAF
0                           6.0                       5.0

A                                                          \
B     S_SLUIS_SWPLEVEL1DV_s0009 S_SLUIS_SWPLEVEL1DV_s0010
C                 STORAGE-LEVEL             STORAGE-LEVEL
D                          1MON                      1MON
E                        L2020A                    L2020A
F                      PER-AVER                  PER-AVER
Units                       TAF                       TAF
0                           7.0                       7.0

A                                                          \
B     S_SLUIS_SWPLEVEL1DV_s0011 S_SLUIS_SWPLEVEL1DV_s0012
C                 STORAGE-LEVEL             STORAGE-LEVEL
D                          1MON                      1MON
E                        L2020A                    L2020A
F                      PER-AVER                  PER-AVER
Units                       TAF                       TAF
0                           5.0                       4.0

A                                                          \
B     S_SLUIS_SWPLEVEL1DV_s0013 S_SLUIS_SWPLEVEL1DV_s0014
C                 STORAGE-LEVEL             STORAGE-LEVEL
D                          1MON                      1MON
E                        L2020A                    L2020A
F                      PER-AVER                  PER-AVER
Units                       TAF                       TAF
0                           6.0                       4.0

A
B     S_SLUIS_SWPLEVEL1DV_s0015 S_SLUIS_SWPLEVEL1DV_s0016
C                 STORAGE-LEVEL             STORAGE-LEVEL
D                          1MON                      1MON
E                        L2020A                    L2020A
F                      PER-AVER                  PER-AVER
Units                       TAF                       TAF
0                           3.0                       4.0

# Flow Requirements - cannot do yet because missing min_flow variables

flows = ["C_AMR004_s", "C_TRN111_s", "C_FTR029_s", "C_MOK028_s", "C_MCD005_s", "C_SAC257_s", "C_SJR127_s", "C_SAC289_s", "C_STS011_s",
         "C_TUO003_s", "C_YUB002_s", "SP_SAC159_BTC003_s", "C_SAC148_s", "C_SAC122_s", "C_FTR003_s", "C_SAC049_s", "C_SAC000_s", "C_SJR070_s"
]
min_flows = ["C_AMR004_MIF", "C_TRN111_MIF", "C_FTR029_MIF", "C_MOK028_MIF", "C_MCD005_MIF", "C_SAC257_MIF", "C_SJR127_MIF", "C_SAC289_MIF", "C_STS011_MIF",
             "C_TUO003_MIF", "C_YUB002_MIF", "SP_SAC159_BTC003_MIF", "C_SAC148_MIF", "C_SAC122_MIF", "C_FTR003_MIF", "C_SAC049_MIF", "C_SAC000_MIF", "C_SJR070_MIF"
]

flows = {}

for flow, min_flow in zip(flows, min_flows):
    exceedance_days, exceedance_days_percent = frequency_hitting_level(df, flow, min_flow, "CFS", f"All_Prob_{var}min_flow")
    flows[f"{var}min_flow_exceed"] = (exceedance_days, exceedance_days_percent)

for flow, (flow_df, flow_percent) in flows.items():
    print(f"Flow: {flow}")
    display(flow_df)
    display(flow_percent)

In [16]:
# Other Metrics - not following excel file correctly

variables = [
    "S_RESTOT_NOD_",
    "S_SHSTA_", "S_OROVL_", "S_TRNTY_", "S_MELON_", "S_MLRTN_",
    "DEL_SWP_TOTAL_", "DEL_SWP_PMI_", "DEL_SWP_PAG_", "DEL_CVP_TOTAL_", "DEL_CVP_PAG_TOTAL_", "DEL_CVP_PSCEX_TOTAL_", "DEL_CVP_PRF_TOTAL_",
    "D_TOTAL_", "NDO_",
    "X2_PRV_KM_",
    "DEL_CVP_PSC_N_", "DEL_CVP_PAG_N_", "DEL_CVP_PAG_S_", "DEL_CVP_PRF_S_", "DEL_CVP_PMI_N_", "DEL_CVP_PMI_S_"
]

In [17]:
metrics = {}

for var in variables:
    if var in ["C_SAC041_", "C_SJR070_", "C_SAC000_", "C_SJR070_", "C_DMC000_TD_", "C_CAA003_TD_", "NDO_"]:
        units = "CFS"
    elif var == "X2_PRV_KM_":
        units = "KM"
    else:
        units = "TAF"

    if var in ["S_RESTOT_NOD_"]: ## What's the difference between this and NOD_STORAGE?
        metrics[f"Apr_{var}mnth_avg"] = mnth_avg(df, dss_names, var, 4, units) 
        metrics[f"Sept_{var}mnth_avg"] = mnth_avg(df, dss_names, var, 9, units) 

    if var in ["S_SHSTA_", "S_OROVL_"]:
        metrics[f"Apr_{var}mnth_avg"] = mnth_avg(df, dss_names, var, 4, units) 

    ## I'M VERY CONFUSED ABOUT WHAT TO DO FOR THIS ONE. S_SHSTA, S_OROVL, S_TRNTY, S_MELON, S_MLRTN; dead pool set in *LEVEL1DV variables probabilities.
    ## What do I put as the percentile? I put 1. Not returning probability.
    if var in ["S_SHSTA_", "S_OROVL_", "S_TRNTY_", "S_MELON_", "S_MLRTN_"]:
        metrics[f"Sept_{var}mnth_percentile"] = mnth_percentile(df, dss_names, 1, var, 9, units)

    ## What do I put as the percentile? I put 1. Not returning probability.
    if var in ["S_SHSTA_"]:
        metrics[f"Apr_{var}mnth_percentile"] = mnth_percentile(df, dss_names, 1, var, 4, units)

    ## LONG-TERM CUMULATIVE FRACTION? What is this? S_SHSTA_ & S_SHSTALEVEL5DV

    if var in ["DEL_SWP_TOTAL_", "DEL_SWP_PMI_", "DEL_SWP_PAG_", "DEL_CVP_TOTAL_", "DEL_CVP_PAG_TOTAL_", "DEL_CVP_PSCEX_TOTAL_", "DEL_CVP_PRF_TOTAL_"]:
        metrics[f"{var}ann_avg"] = ann_avg(df, dss_names, var, units)
     
    ## ADD DEL_CVP_PAG_TOTAL +  DEL_CVP_PSCEX_TOTAL

    ## I DON'T SEE VARIABLE D_TOTAL
    ## LONG-TERM AVERAGE? What's the difference between that and average?
    if var in ["NDO_"]: # missing D_TOTAL
        metrics[f"{var}ann_avg"] = ann_avg(df, dss_names, var, units)

    if var in ["X2_PRV_KM_"]:
        metrics[f"Apr_{var}mnth_avg"] = mnth_avg(df, dss_names, var, 4, units) 
        metrics[f"Oct_{var}mnth_avg"] = mnth_avg(df, dss_names, var, 10, units) 
    ## NEED TO ADD WAY TO DO MULTI-MONTH 
        ## Sept-Nov
        ## March-May

    if var in ["DEL_SWP_PMI_", "DEL_CVP_PSC_N_", "DEL_CVP_PAG_N_", "DEL_CVP_PAG_S_", "DEL_CVP_PRF_S_", "DEL_CVP_PMI_N_", "DEL_CVP_PMI_S_"]:
        metrics[f"{var}ann_percentile"] = ann_percentile(df, dss_names, 0.9, var, units)
        
for var, metric_df in metrics.items():
    display(metric_df)

       Apr_Avg_S_RESTOT_NOD_TAF
s0001               9502.720622
s0002               9289.524626
s0003               8831.470114
s0004               8536.757009
s0005               8363.576594
s0006               8797.665441
s0007               8818.561157
s0008               8817.579762
s0009               8806.576365
s0010               8809.165562
s0011               9353.654643
s0012               9331.701300
s0013               8564.764796
s0014               8652.462178
s0015               9385.572308
s0016               8764.127927

       Sep_Avg_S_RESTOT_NOD_TAF
s0001               6800.449020
s0002               6570.594230
s0003               5655.789429
s0004               5292.440964
s0005               5134.175172
s0006               6152.457555
s0007               6193.778243
s0008               6194.621633
s0009               6187.818817
s0010               6188.742741
s0011               6637.061312
s0012               6673.551830
s0013               5363.289898
s0014               5499.450178
s0015               6726.838606
s0016               5583.838193

       Apr_Avg_S_SHSTA_TAF
s0001          4037.991051
s0002          3920.254867
s0003          3711.537404
s0004          3592.096895
s0005          3511.278046
s0006          4035.944251
s0007          4044.659226
s0008          4044.682619
s0009          4038.165765
s0010          4038.121174
s0011          3947.517963
s0012          3936.999494
s0013          3604.374799
s0014          3647.361582
s0015          3959.618993
s0016          3703.121111

       Sep_Percentile_S_SHSTA_TAF
s0001                      3400.0
s0002                      3400.0
s0003                      3400.0
s0004                      3400.0
s0005                      3400.0
s0006                      3400.0
s0007                      3400.0
s0008                      3400.0
s0009                      3400.0
s0010                      3400.0
s0011                      3400.0
s0012                      3400.0
s0013                      3400.0
s0014                      3400.0
s0015                      3400.0
s0016                      3400.0

       Apr_Percentile_S_SHSTA_TAF
s0001                      4552.1
s0002                      4552.1
s0003                      4552.1
s0004                      4552.1
s0005                      4552.1
s0006                      4552.1
s0007                      4552.1
s0008                      4552.1
s0009                      4552.1
s0010                      4552.1
s0011                      4552.1
s0012                      4552.1
s0013                      4552.1
s0014                      4552.1
s0015                      4552.1
s0016                      4552.1

       Apr_Avg_S_OROVL_TAF
s0001          2769.478097
s0002          2725.012594
s0003          2550.107122
s0004          2453.495348
s0005          2406.063563
s0006          2900.849137
s0007          2909.776964
s0008          2907.110805
s0009          2905.539647
s0010          2907.723227
s0011          2750.521664
s0012          2740.577751
s0013          2453.422592
s0014          2477.824818
s0015          2762.328846
s0016          2514.576337

       Sep_Percentile_S_OROVL_TAF
s0001                      3241.6
s0002                      3241.6
s0003                      3241.6
s0004                      3241.6
s0005                      3241.6
s0006                      3351.0
s0007                      3351.0
s0008                      3351.0
s0009                      3351.0
s0010                      3351.0
s0011                      3241.6
s0012                      3241.6
s0013                      3241.6
s0014                      3241.6
s0015                      3241.6
s0016                      3241.6

       Sep_Percentile_S_TRNTY_TAF
s0001                      1975.0
s0002                      1975.0
s0003                      1975.0
s0004                      1975.0
s0005                      1975.0
s0006                      1975.0
s0007                      1975.0
s0008                      1975.0
s0009                      1975.0
s0010                      1975.0
s0011                      1975.0
s0012                      1975.0
s0013                      1975.0
s0014                      1975.0
s0015                      1975.0
s0016                      1975.0

       Sep_Percentile_S_MELON_TAF
s0001                      2000.0
s0002                      2000.0
s0003                      2000.0
s0004                      2000.0
s0005                      2000.0
s0006                      2000.0
s0007                      2000.0
s0008                      2000.0
s0009                      2000.0
s0010                      2000.0
s0011                      2000.0
s0012                      2000.0
s0013                      2000.0
s0014                      2000.0
s0015                      2000.0
s0016                      2000.0

       Sep_Percentile_S_MLRTN_TAF
s0001                   469.52280
s0002                   422.32718
s0003                   337.66370
s0004                   319.50598
s0005                   306.92844
s0006                   486.58725
s0007                   486.58725
s0008                   486.58725
s0009                   486.58725
s0010                   486.58725
s0011                   422.32718
s0012                   422.32718
s0013                   319.50598
s0014                   319.50598
s0015                   422.32718
s0016                   319.50598

       Ann_Avg_DEL_SWP_TOTAL_TAF
s0001                 258.267249
s0002                 252.655671
s0003                 231.918522
s0004                 224.601246
s0005                 216.287690
s0006                 217.993152
s0007                 235.674948
s0008                 238.383912
s0009                 239.901495
s0010                 239.951004
s0011                 254.309189
s0012                 257.471659
s0013                 224.627143
s0014                 229.574826
s0015                 258.798218
s0016                 230.953773

       Ann_Avg_DEL_SWP_PMI_TAF
s0001               127.507992
s0002                 2.048826
s0003               125.459166
s0004               124.008673
s0005                 2.016835
s0006               121.991838
s0007               110.122353
s0008                 1.867450
s0009               108.254903
s0010               105.032353
s0011                 1.813174
s0012               103.219180
s0013               100.049631
s0014                 1.806640
s0015                98.242991
s0016               130.638451

       Percentile_DEL_SWP_PMI_TAF
s0001                  181.032189
s0002                    2.400873
s0003                  178.755870
s0004                  180.992964
s0005                    2.400140
s0006                  178.869737
s0007                  179.255209
s0008                    2.334739
s0009                  177.019942
s0010                  175.845786
s0011                    2.314224
s0012                  173.666320
s0013                  171.670888
s0014                    2.326063
s0015                  169.626426
s0016                  180.925167

       Ann_Avg_DEL_SWP_PAG_TAF
s0001               130.759258
s0002                88.655907
s0003                42.103351
s0004               128.646998
s0005                87.634818
s0006                41.012180
s0007               121.796169
s0008                85.464767
s0009                36.331402
s0010               119.568893
s0011                84.462491
s0012                35.106402
s0013               116.238060
s0014                83.084286
s0015                33.153775
s0016               108.218896

       Ann_Avg_DEL_CVP_TOTAL_TAF
s0001                 170.892077
s0002                 215.146212
s0003                 386.038289
s0004                 169.307931
s0005                 210.849799
s0006                 380.157730
s0007                 168.238140
s0008                 197.129461
s0009                 365.367600
s0010                 166.425381
s0011                 190.393149
s0012                 356.818529
s0013                 165.095153
s0014                 183.984733
s0015                 349.079886
s0016                 160.264454

       Ann_Avg_DEL_CVP_PAG_TOTAL_TAF
s0001                     125.317902
s0002                     120.392244
s0003                     105.272609
s0004                      98.516506
s0005                      92.050971
s0006                     107.931507
s0007                     109.957584
s0008                     111.240423
s0009                     111.641318
s0010                     111.572635
s0011                     120.168243
s0012                     125.150056
s0013                      98.957410
s0014                     103.721861
s0015                     124.476247
s0016                     103.676975

       Ann_Avg_DEL_CVP_PSCEX_TOTAL_TAF
s0001                       201.592498
s0002                       201.143306
s0003                       202.509519
s0004                       201.663924
s0005                       200.963734
s0006                       175.085949
s0007                       175.080230
s0008                       175.076024
s0009                       175.093268
s0010                       175.087597
s0011                       201.006263
s0012                       201.127390
s0013                       201.671629
s0014                       201.977230
s0015                       201.000760
s0016                       202.349352

       Ann_Avg_DEL_CVP_PRF_TOTAL_TAF
s0001                      31.060757
s0002                      30.745665
s0003                      30.302301
s0004                      29.720522
s0005                      29.440866
s0006                      23.044935
s0007                      23.073480
s0008                      23.067966
s0009                      23.068354
s0010                      23.068284
s0011                      30.779767
s0012                      30.773374
s0013                      29.711355
s0014                      29.943914
s0015                      30.825605
s0016                      30.222510

       Ann_Avg_NDO_CFS
s0001     21293.470789
s0002     21893.727002
s0003     22047.182931
s0004     21389.026896
s0005     20485.437723
s0006     21149.723018
s0007     20541.031775
s0008     20408.485673
s0009     20338.511268
s0010     20332.168442
s0011     21870.717422
s0012     22075.819952
s0013     21487.615640
s0014     21651.673274
s0015     22056.041505
s0016     21593.528343

       Apr_Avg_X2_PRV_KM_KM
s0001             64.698729
s0002             64.260228
s0003             63.974278
s0004             64.509556
s0005             65.036219
s0006             64.831960
s0007             65.430541
s0008             65.572145
s0009             65.654014
s0010             65.653841
s0011             64.327655
s0012             64.163724
s0013             64.466159
s0014             64.374018
s0015             64.226327
s0016             64.625091

       Oct_Avg_X2_PRV_KM_KM
s0001             83.347450
s0002             83.458366
s0003             84.064856
s0004             84.003035
s0005             84.739167
s0006             83.037519
s0007             83.360593
s0008             83.385424
s0009             83.412193
s0010             83.418131
s0011             83.396557
s0012             83.432828
s0013             83.932718
s0014             83.875713
s0015             83.338792
s0016             83.716304

       Percentile_DEL_CVP_PSC_N_TAF
s0001                    139.458760
s0002                    139.547772
s0003                    142.136584
s0004                    142.706400
s0005                    143.074190
s0006                    131.724690
s0007                    131.710230
s0008                    131.710228
s0009                    131.710262
s0010                    131.710098
s0011                    139.547772
s0012                    139.547772
s0013                    142.706400
s0014                    142.645366
s0015                    139.547772
s0016                    142.645366

       Percentile_DEL_CVP_PAG_N_TAF
s0001                     34.847494
s0002                     34.393217
s0003                     33.918754
s0004                     33.893795
s0005                     33.723046
s0006                     34.344864
s0007                     34.336341
s0008                     34.340126
s0009                     34.336667
s0010                     34.336660
s0011                     34.393218
s0012                     34.393240
s0013                     33.850608
s0014                     33.895109
s0015                     34.393240
s0016                     33.895120

       Percentile_DEL_CVP_PAG_S_TAF
s0001                    143.389351
s0002                    143.245424
s0003                    138.804389
s0004                    136.779033
s0005                    135.285446
s0006                    139.563284
s0007                    142.365815
s0008                    144.623838
s0009                    144.630669
s0010                    144.629032
s0011                    143.245424
s0012                    143.374637
s0013                    136.780096
s0014                    138.889905
s0015                    143.374632
s0016                    138.890613

       Percentile_DEL_CVP_PRF_S_TAF
s0001                     23.905811
s0002                     23.882565
s0003                     23.922530
s0004                     23.902585
s0005                     23.890469
s0006                     24.375671
s0007                     24.375671
s0008                     24.375671
s0009                     24.375671
s0010                     24.375671
s0011                     23.882565
s0012                     23.951192
s0013                     23.902585
s0014                     23.902585
s0015                     23.951192
s0016                     23.902585

       Percentile_DEL_CVP_PMI_N_TAF
s0001                      1.298429
s0002                     13.084345
s0003                      1.298429
s0004                     13.623956
s0005                      1.381785
s0006                     14.968287
s0007                      1.381785
s0008                     14.826032
s0009                      1.381785
s0010                     15.403063
s0011                      1.715291
s0012                     14.226650
s0013                      1.715291
s0014                     14.264105
s0015                      1.715291
s0016                     14.215531

       Percentile_DEL_CVP_PMI_S_TAF
s0001                     13.722242
s0002                     13.714244
s0003                     13.691231
s0004                     13.596215
s0005                     13.498519
s0006                     13.759796
s0007                     13.768386
s0008                     13.779971
s0009                     13.779993
s0010                     13.779988
s0011                     13.714246
s0012                     13.731061
s0013                     13.596432
s0014                     13.605565
s0015                     13.731040
s0016                     13.605567